body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(16, 20, 24);
    flex-wrap: wrap;
    flex-direction: column;
}

.card {
    background-color: #202020;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 100%;

    max-width: 600px;

    transition: transform 0.3s ease-in-out;
    text-align: center;
    background-color: #50a6ed;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;

}

.card h3,
.card p {
    padding: 15px;
    margin: 0;
}

.card h3 {
    font-size: 1.5em;
    color: white;
}

.card p {
    color: #ffffff;
}

.title {

    flex-direction: column;
}
h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
  }